extends layout

block content
  h1= title
  div.login-box
    form(action='/cadastro', method='POST')
     
      div.user-box
        input(type='text', name='nome', required='')
        label nome
      div.user-box
        input(type='text', name='sobrenome', required='')
        label sobrenome
      div.user-box
        input(type='number', name='telefone', required='')
        label telefone
      div.user-box
        input(type='text', name='endereco', required='')
        label endereco
      div.user-box
        input(type='text', name='cidade', required='')
        label cidade
      div.user-box
        input(type='text', name='estado', required='')
        label estado
       div.user-box1
         label Upload Image:
         input(type='file', name='image')
      center
        button(type='submit')
          | cadastro
          span
